#grad
{
    background-image: radial-gradient(circle, #e1c5a0, beige);
}

#score
{
    text-align: center;
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
}

#game-container
{
    display: grid;
    justify-content: center;
    grid-template-columns: 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw 8vw;
    grid-gap: 10px;
    padding: 2vh;
}

#file-system-buttons
{
    display: block;
    margin: auto;
    text-align: center;
    padding: 4vh;
}

.fade-out
{
    animation: anim-fade-out 0.8s forwards;
}

@keyframes anim-fade-out
{
    0% { opacity: 100%; }
    100% { opacity: 0%; }
}

#game-info, #client-game-info
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8vw;
    padding: 0vh;
}

.btn-normal
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px;
    border-radius: 20%;
    background-color: rgb(160, 232, 239);
    box-shadow: 0px 1vw rgb(83, 170, 194);
    color: white;
    text-shadow: 0px .1vw black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
}

.btn-red
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px;
    border-radius: 20%;
    background-color: rgb(239, 160, 160);
    box-shadow: 0px 1vw rgb(194, 83, 83);
    color: white;
    text-shadow: 0px .1vw black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
}

.btn-normal:hover
{
    cursor: pointer;
    background-color: rgb(149, 239, 247);
    transform: translateY(-.6vw);
}

.btn-normal:active
{
    cursor: pointer;
    box-shadow: 0px 0.6vw rgb(83, 170, 194);
    background-color: rgb(149, 239, 247);
    animation: anim-bounce 1.5s infinite; 
}

@keyframes anim-bounce
{
    0%, 100% { transform: scale(1) translateY(-.4vw); }
    50% { transform: scale(0.9) translateY(-.4vw); }
}

#host-game, #join-game
{
    padding: 2vh;
    border: none;
    border-radius: 6%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

#host-game
{ 
    background-color: rgb(245, 137, 82);
    box-shadow: 0px 1vw #cf4242;
}

#join-game
{ 
    background-color: rgb(110, 225, 95);
    box-shadow: 0px 1vw #31bd81;
}

#start-button
{
    margin: auto;
    display: block;
    padding: 2vh;
    border: none;
    background-color: rgb(156, 158, 212);
    box-shadow: 0px 1vw rgb(135, 121, 182);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    font-weight: bold;
}

#start-button:disabled
{
    margin: auto;
    display: block;
    padding: 2vh;
    border: none;
    background-color: rgb(197, 197, 197);
    box-shadow: 0px 1vw rgb(124, 124, 124);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    font-weight: bold;
}

#start-button:hover:enabled
{
    cursor: pointer;
    animation: scale-emphasize 1.5s infinite ease-in-out;
}

#start-button:active:enabled
{
    box-shadow: 0px 0.5vw rgb(135, 121, 182);
}

@keyframes scale-emphasize
{
    0%, 100% { transform: scale(1) translateY(0); }
    50% { transform: scale(1.05) translateY(-4px); }
}

.clear-animation
{
    animation: anim_clear 0.8s ease-out;
}

@keyframes anim_clear
{
    0%, 100% {opacity: 100%; }
    50% { opacity: 0; }
}